<app-navbar></app-navbar>
<div class="wrapper">
    <section class="hero">
      <img class ="imgHome" src="/assets/images/fondo.png" alt="Sample photo">
      <div class="jumbotron jumbotron-fluid mb-0">
        <div class="container">
          <div class="row justify-content-center text-center">
            <div class="col-md-10 col-lg-6">
              <h1 class="display-5">WELCOME</h1> 
            </div>
          </div>
        </div>
        
      </div>
    </section>
  
  
    <section id="sec-pricing" class="sec-pricing">
      <div class="container">
        
        <div class="row justify-content-center">
          <div class="col-md-4">
            <div class="card text-center">
              <div class="card-block">
                <img src="https://img.freepik.com/vector-gratis/plan-plan-dieta_3446-617.jpg?w=2000" width="100" height="140">
                <h4 class="card-title h5">Dietas y Recetas</h4>
  
  
                <p class="card-text"></p>
  
                <a href="#" class="btn btn-primary">button</a>
              </div>
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="card text-center">
              <div class="card-block">
                <img src="https://media.istockphoto.com/vectors/cartoon-map-pin-icon-in-comic-style-location-gps-illustration-sign-vector-id1303441796?b=1&k=6&m=1303441796&s=170667a&w=0&h=KAtkQ88WiVstPl_YmQuYdoI354i0pZEkYV94CJY2Om4=" width="100" height="140">
                <h4 class="card-title h5">Recomendación de Restaurantes</h4>
  
  
                <p class="card-text"></p>
  
                <a href="#" class="btn btn-primary">button</a>
              </div>
            </div>
          </div>
  
          <div class="col-md-4">
            <div class="card text-center">
              <div class="card-block justify-content-center">
                <img src="https://cdn-icons-png.flaticon.com/512/30/30463.png" width="100" height="140">
                <h4 class="card-title h5">Rutinas de ejercicio</h4>
  
  
                <p class="card-text"></p>
  
                <a href="#" class="btn btn-primary">button</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

  

  </div>